# =========================
# React / Node
# =========================
node_modules/
dist/
dist-ssr/
build/
coverage/
.vite/
*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment files
.env
.env.*
!.env.example

# =========================
# Laravel / PHP
# =========================
backend/vendor/
backend/public/storage/
backend/storage/*.key
backend/storage/logs/
backend/bootstrap/cache/

# If Laravel is in root instead of backend/
vendor/
storage/*.key
storage/logs/
bootstrap/cache/

# Cache / temp files
*.cache
*.tmp

# =========================
# Editor / OS
# =========================
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
